$sidebar-width-reverse: 12.5rem;
$sidebar-bg-color: #323232;
$sidebar-color: #ffffff;
$sidebar-header-bg-color: #222222;
$sidebar-header-title-color: #ffffff;
$sidebar-header-height: 60px;
$sidebar-header-height-mobile: 50px;

$sidebar-item-color: #ffffff;
$sidebar-item-border-color: #e0e0e02c;
$sidebar-item-hover-color: #e0e0e0;
$sidebar-item-active-bg-color: #a8b3f5;
$sidebar-item-active-color: #ffffff;

$sidebar-subitems-bg-color: #282828;
$sidebar-subitem-color: #ffffff;
$sidebar-subitem-hover-color: #e0e0e0;
$sidebar-subitem-active-bg-color: #a8b3f5;
$sidebar-subitem-active-color: #ffffff;


.sidebar-wapprer {
  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 888;
    position: fixed;

    @media (max-width: 767.98px) {
      &.open {
        display: block;
      }
    }
  }

  .sidebar {
    position: relative;
    z-index: 999;
    background-color: $sidebar-bg-color;
    color: $sidebar-color;
    min-height: 100vh;
    transition: width 0.3s ease;
  
    &.open {
      $sidebar-width-reverse: 4rem;
      width: 12.5rem;
    }
  
    &:not(.open) {
      $sidebar-width-reverse: 12.5rem;
      width: 4rem;
    }
  
    @media (max-width: 768px) {
      &.open {
        position: fixed;
      }
    }
    
    @media (max-width: 300px) {
      &.open {
        width: 80%;
        position: fixed;
      }

      &:not(.open) {
        width: 3rem;
      }
    }
  
    .header {
      background-color: $sidebar-header-bg-color;
      color: $sidebar-header-title-color;
      height: $sidebar-header-height;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      h2 {
        margin: 0;
      }
  
      img {
          max-height: $sidebar-header-height;
          min-height: $sidebar-header-height;
          max-width: 100%;
          object-fit: contain;
      }

      @media (max-width: 300px) {
        height: $sidebar-header-height-mobile;
      }
    }
  
    .content {
      .sidebar-item {
        a {
          color: $sidebar-item-color;
          display: flex;
          align-items: center;
          padding: 10px;
          text-decoration: none;
          transition: background-color 0.2s;
          border-bottom: 1px solid $sidebar-item-border-color;
          white-space: nowrap;
  
          &:hover {
            background-color: $sidebar-item-hover-color;
          }
  
          &.active {
              background-color: $sidebar-item-active-bg-color;
              color: $sidebar-item-active-color;
          }
  
          span {
            margin-left: 10px;
          }
          
          .toggle-icon {
              margin-right: 0.5rem;
              width: 100%;
              display: flex;
              justify-content: flex-end;
          }
        }
        
        a.icon-only {
          padding-top: 1rem;
          padding-bottom: 1rem;
          justify-content: center;
          span {
            display: none;
          }
  
          &.active {
            background-color: $sidebar-item-active-bg-color;
            color: $sidebar-item-active-color;
          }
        }
  
  
        .sidebar-subitems {
          background-color: $sidebar-subitems-bg-color;
          margin-left: 0;
  
          .sidebar-subitem {
            list-style: none;
            margin-right: 0;
  
            a {
              color: $sidebar-subitem-color;
              padding: 5px;
              padding-left: 2rem;
              display: block;
              text-decoration: none;
              transition: background-color 0.2s;
              border-bottom: 0;
  
              &:hover {
                background-color: $sidebar-subitem-hover-color;
              }
  
              &.active {
                  background-color: $sidebar-subitem-active-bg-color;
                  color: $sidebar-subitem-active-color;
              }
            }
          }
        }
      }
    }
  
  }
}


