.file-library {
    .header-options {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 0.8rem;
    }

    .btn-show-filters {
        display: block;
        width: 100%;
    }

    .filters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: $border-radius;
        padding: .5rem;

        .files-extension {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .btn {
                width: 100%;
                min-width: 90px;
                padding: 4px;
            }
    
            .dropdown-menu {
                width: 100%;
            }
        }

        .categories {
            .btn {
                width: 48px;
                padding: 4px;
            }
        }
    }
    

    @media (min-width: 768px) {
        .header-options {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .btn-show-filters {
            display: none;
        }

        .filters {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .files-extension {
                display: flex !important;
                flex-direction: row;
                gap: .5rem;

                .btn {
                    width: auto;
                    min-width: 90px;
                    padding: 4px;
                }
        
                .dropdown-menu {
                    width: min-content;
                }
            }

            .categories {

            }
        }
    }
}