.p-button {
  color: #ffffff;
  background: #f46530;
  border: 1px solid #f46530;
  padding: 8px;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 4px;
}

.p-cancel {
  background-color: #6c757d;
  border-color: #6c757d;
}

.p-upload {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.p-button-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 4px;
}

.p-fileupload {
  .p-fileupload-buttonbar {
    border: 0;
  }

  .p-fileupload-content {
    padding: 1rem;
    border: 0;

    .p-fileupload-row {
      background-color: #e0e0e0;
      margin-bottom: 0.2rem;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 4px;

      .details {
        padding-left: 8px;
        padding-right: 8px;
      }

      .actions {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}
